.mthQuestions {
    background-color: rgba(216, 216, 216, 0.774);
    background-image: url(../assets/icons/Group\ 23.png);
    list-style: none;
    color: #4d4c4c;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

.firstQ {
    margin-top: 3%;
}

.mthQuestions>li {
    box-sizing: border-box;
    padding-top: 8px;
    margin-top: 7px;
    margin-left: 10px;
}

label.qLabel {
    position: absolute;
    left: 0.5%;
    margin-top: 1.2%;
}

.mthQuestions>li>input {
    left: 20px;
    position: absolute;
}